@font-face
{
    font-family: RobotoMedium;

    src: url('./fonts/roboto/Roboto-Medium.ttf');
}

@font-face
{
    font-family: Roboto;

    src: url('./fonts/roboto/Roboto-Regular.ttf');
}

@font-face
{
    font-family: RobotoBold;

    src: url('./fonts/roboto/Roboto-Bold.ttf');
}

@font-face
{
    font-family: LatoBold;

    src: url('./fonts/Lato-Bold.ttf');
}

@font-face
{
    font-family: LatoMedium;

    src: url('./fonts/Lato-Medium.ttf');
}

@font-face
{
    font-family: Lato;

    src: url('./fonts/Lato-Regular.ttf');
}

@font-face
{
    font-family: LatoLight;

    src: url('./fonts/Lato-Light.ttf');
}

*
{
    margin: 0;
    padding: 0;
}

.promo
{
    height: 840px;

    background: url('./images/backgroundTop.jpg') no-repeat;
    background-size: cover;
}

.container
{
    width: 1140px;
    margin: 0 auto;
}

.site-menu
{
    display: inline-block;

    width: 800px;
    height: 90px;
    margin-left: 95px;

    vertical-align: bottom;
}

.logo
{
    display: inline-block;

    margin-top: 10px;
}

.metro
{
    display: inline-block;

    width: 15px;
    height: 13px;
    margin-bottom: -2px;

    background: url('./images/metroLogo.png') no-repeat;
}

.address
{
    font-family: Roboto, sans-serif;
    font-size: 13px;

    display: inline-block;

    padding: 3px 0 22px 0;

    color: #8b8b94;
    border-bottom: 1px solid rgba(63,63,77,.6);
}

.full-address
{
    padding-left: 24px;
}

.phone
{
    font-family: RobotoBold, sans-serif;
    font-size: 16px;

    display: inline-block;

    margin-left: 224px;

    text-align: right;
}

.phone-first
{
    color: #34a462;
}

.phone-big
{
    color: #8b8b94;
}

.menu
{
    position: absolute;

    margin-top: 4px;
}

.menu li
{
    font-family: RobotoMedium, sans-serif;
    font-size: 12px;

    display: inline-block;

    height: 20px;
    margin-top: 20px;
    padding-right: 58px;

    list-style-type: none;

    text-transform: uppercase;

    color: #eaeaec;
}

.menu a
{
    text-decoration: none;

    color: #eaeaec;
}

.menu a:active,
.menu a:hover
{
    color: #34a462;
}

.menu li:last-child
{
    padding-right: 1px;
}

.main-description
{
    margin-top: 230px;

    text-align: center;
}

.topic
{
    font-family: LatoBold, sans-serif;
    font-size: 60px;

    color: #f7f7f9;
}

.slogan
{
    font-family: LatoBold, sans-serif;
    font-size: 24px;

    position: relative;

    padding: 40px 0;

    text-transform: uppercase;

    color: #f7f7f9;
}

.slogan:before
{
    position: absolute;
    top: 20px;
    left: 50%;

    box-sizing: border-box;
    width: 102px;
    height: 5px;
    margin-left: -55px;

    content: '';

    border-top: 4px solid #4aa770;
}

.main-description input
{
    font-family: LatoMedium, sans-serif;
    font-size: 14px;

    padding-bottom: 10px;
    padding-left: 22px;

    color: #c6c7cc;
    border: inherit;
    border-bottom: 1px solid rgba(119,119,129,.6);
    background-color: inherit;
}

input::-webkit-input-placeholder
{
    font-family: LatoMedium, sans-serif;
    font-size: 14px;

    color: #c6c7cc;
}

.btn
{
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;

    display: inline-block;

    box-sizing: border-box;
    height: 46px;
    margin: 20px 0 0 35px;
    padding-top: 5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 45px;
}

.btn-purple
{
    background-color: #6652cb;
}

.btn-purple:hover
{
    font-size: 16px;

    cursor: pointer;

    background-color: #5948cb;
}

.btn-green
{
    background-color: #34a462;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
}

.btn-green:hover
{
    font-size: 16px;

    cursor: pointer;

    background-color: #01a44e;
}

.btn-arrow
{
    position: relative;
}

.btn-arrow::after
{
    position: absolute;
    right: 15px;
    bottom: 17px;

    width: 10px;
    height: 10px;

    content: '';

    background: url('./images/arrow.png') no-repeat;
}

.btn-width-l
{
    width: 350px;
    margin-left: 50px;
}

.btn-width-s
{
    width: 225px;
    margin-right: 40px;
}

.header
{
    font-family: LatoBold, sans-serif;
    font-size: 28px;

    padding-top: 58px;

    text-align: center;
    text-transform: uppercase;

    color: #2d2d38;
}

.tags
{
    width: 860px;
    margin: 0 auto;
    padding-top: 10px;
}

.tags li
{
    display: inline-block;

    margin: 10px 0 0 26px;

    list-style-type: none;
}

.tags a
{
    font-family: Lato, sans-serif;
    font-size: 12px;

    display: block;

    padding: 5px 15px;

    text-decoration: none;
    text-transform: lowercase;

    color: #626264;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
}

.tags li:first-child
{
    margin-left: 0;
}

.tags li:active,
.tags li:hover
{
    color: #414144;
    border-radius: 40px;
    background-color: #d9d9d9;
}

.projects-photo
{
    padding-top: 32px;
}

.projects-photo li
{
    display: inline-block;

    list-style-type: none;
}

.show-more
{
    font-family: Roboto, sans-serif;
    font-size: 14px;

    position: absolute;
    right: 50%;

    box-sizing: border-box;
    width: 280px;
    height: 50px;
    margin: 32px -130px 70px 0;
    padding-top: 16px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #2d2d38;
    border: 2px solid #34a462;
    border-radius: 40px;
}

.promotion
{
    height: 580px;
    margin-top: 160px;

    background: url('./images/ceiling.jpg') no-repeat;
    background-size: cover;
}

.achievement
{
    display: inline-block;

    margin-top: 200px;
}

.achievement p
{
    padding-bottom: 20px;
}

.achievement-first,
.achievement-third
{
    font-family: LatoLight, sans-serif;

    text-transform: uppercase;

    color: #f7f7f9;
}

.achievement-second,
.achievement-fourth
{
    font-family: LatoBold, sans-serif;

    text-transform: uppercase;

    color: #f7f7f9;
}

.achievement-first
{
    font-size: 36px;
}

.achievement-second
{
    font-size: 40px;
}

.achievement-third
{
    font-size: 34px;
}

.achievement-fourth
{
    font-size: 32px;
}

.order
{
    float: right;

    width: 450px;
    height: 475px;
    margin: 55px 40px;

    outline: 1px solid green;
    background-color: #fff;
}

.form-header
{
    font-family: Lato, sans-serif;
    font-size: 20px;

    width: 230px;
    margin: 30px 0 30px 115px;

    text-align: center;
    text-transform: uppercase;
}

.action
{
    color: #34a462;
}

.condition
{
    font-size: 18px;

    text-transform: none;
}

input
{
    font-family: Roboto, sans-serif;
    font-size: 14px;

    width: 320px;
    margin: 0 0 10px 50px;
    padding: 10px 0 10px 25px;

    border: inherit;
    border-bottom: 1px solid rgba(119, 119, 129, .6);
}

label
{
    font-family: Lato, sans-serif;
    font-size: 12px;

    margin-left: 75px;

    color: #a7a7a7;
}

.warning
{
    font-family: Roboto, sans-serif;
    font-size: 12px;

    width: 300px;
    margin: 16px 0 0 70px;

    text-align: center;

    color: #a7a7a7;
}

.services
{
    padding: 62px 0 105px;
}

.services li
{
    display: inline-block;

    margin: 3px 2px 0 0;

    list-style-type: none;
}

.services a
{
    position: relative;

    text-decoration: none;
}

.choose-service
{
    font-family: Lato, sans-serif;
    font-size: 18px;

    position: absolute;
    bottom: 1px;
    left: 0;

    box-sizing: border-box;
    width: 375px;
    height: 80px;
    padding: 20px 0 20px 35px;

    text-transform: uppercase;

    color: #f7f7f9;
    background-color: rgba(63, 164, 103, .9);
}

.prices-back
{
    height: 763px;
    margin-top: 80px;

    background: url('./images/byke.jpg') no-repeat;
    background-size: cover;
}

.choose-price
{
    display: inline-block;

    width: 368px;
    height: 436px;
    margin: 75px 8px 0 0;

    text-align: center;
    vertical-align: top;

    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
}

.choose-price:hover
{
    background-color: rgba(111, 89, 222, 1);
}

.choose-price:hover .header-price,
.choose-price:hover .real-price
{
    color: #fff;
}

.header-price
{
    font-family: Lato, sans-serif;
    font-size: 18px;

    width: 308px;
    margin: 0 35px;
    padding: 35px 0 25px 0;

    text-transform: uppercase;

    color: #59596c;
    border-bottom: 2.5px solid #e5e5e5;
}

.cost-sign a
{
    background: url('./images/cost-sign.png');
    width: 75px;
    height: 75px;
    display: block;
    margin: 65px 0 0 150px;
}

.choose-price:hover .sign-pen a
{
    background-position: 0 -75px;
}

.sign-cube a
{
    background-position: 75px 0;
}

.choose-price:hover .sign-cube a
{
    background-position: 75px -75px;
}

.sign-infinity a
{
    background-position: 0 -150px;
}

.choose-price:hover .sign-infinity a
{
    background-position: 150px -150px;
}

.real-price
{
    font-family: RobotoMedium, sans-serif;
    font-size: 26px;

    padding-top: 65px;

    color: #59596c;
}

.read-more
{
    font-family: Lato, sans-serif;
    font-size: 12px;

    position: relative;

    padding-top: 60px;
    padding-right: 80px;

    text-align: right;

    color: #fff;
}

.read-more::after
{
    position: absolute;
    right: 35px;
    bottom: -3px;

    width: 20px;
    height: 20px;

    content: '';

    background: url('./images/next-button.png') no-repeat;
}

.container-footer
{
    text-align: center;
}
