@font-face
{
    font-family: RobotoMedium;
    src: url("./fonts/roboto/Roboto-Medium.ttf");
}

@font-face
{
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Regular.ttf");
}

@font-face
{
    font-family: RobotoBold;
    src: url("./fonts/roboto/Roboto-Bold.ttf");
}

@font-face
{
    font-family: LatoBold;
    src: url("./fonts/Lato-Bold.ttf");
}

@font-face
{
    font-family: LatoMedium;
    src: url("./fonts/Lato-Medium.ttf");
}

*
{
    margin: 0;
    padding: 0;
}

.promo
{
    background: url("./images/backgroundTop.jpg") no-repeat;
    background-size: cover;

    height: 840px;
}

.container
{
    width: 1140px;
    margin: 0 auto;
}

.site-menu
{
    display: inline-block;
    width: 800px;
    height: 90px;

    margin-left: 95px;
    vertical-align: bottom;

}

.img
{
    background: url("./images/domusLogo.png") no-repeat;
    background-size: cover;
    width: 153px;
    height: 87px;
    display: inline-block;

    margin-top: 10px;
}

.metro
{
    background: url("./images/metroLogo.png") no-repeat;
    width: 15px;
    height: 13px;
    display: inline-block;
    margin-bottom: -2px ;
}

.address
{
    display: inline-block;
    padding: 5px 0 22px 0;

    font-family: Roboto, sans-serif;
    font-size: 13px;

    color: #8b8b94;

    border-bottom: 1px solid rgba(63,63,77,.6);
}

.full-address
{
    padding-left: 24px;
}

.phone
{
    text-align: right;
    display: inline-block;
    margin-left: 224px;

    font-family: RobotoBold, sans-serif;
    font-size: 16px;
}

.phone-first
{
    color: #34a462;
}

.phone-big
{
    color: #8b8b94;
}

.menu
{
    position: relative;
}

.menu li
{
    list-style-type: none;
    display: inline-block;

    padding-right: 58px;
    text-transform: uppercase;
    margin-top: 20px;

    font-family: RobotoMedium, sans-serif;
    font-size: 12px;
    color: #eaeaec;
}

.menu a
{
    text-decoration: none;
    color: #eaeaec;
}

.menu a:active,
.menu a:hover
{
    color: #34a462;
}

.menu li:last-child
{
    padding-right: 1px;
}

.main-description
{
    text-align: center;
    margin-top: 230px;
}

.topic
{
    font-family: LatoBold, sans-serif;
    font-size: 60px;
    color: #f7f7f9;
}

.slogan
{
    font-family: LatoBold, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #f7f7f9;

    padding: 40px 0;
    position: relative;
}

.slogan:before
{
    width: 102px;
    height: 5px;
    box-sizing: border-box;

    border-top: 4px solid #4aa770;

    content: '';

    position: absolute;

    left: 50%;
    top: 20px;

    margin-left: -55px;
}

.main-description input
{
    color: #c6c7cc;
    font-family: LatoMedium, sans-serif;
    font-size: 14px;

    border: inherit;
    border-bottom: 1px solid rgba(119,119,129,.6);
    background-color: inherit;

    padding-bottom: 10px;
    padding-left: 22px;
}

input::-webkit-input-placeholder
{
    color: #c6c7cc;
    font-family: LatoMedium, sans-serif;
    font-size: 14px;
}

.button
{
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;

    display: inline-block;

    width: 225px;
    height: 46px;
    margin: 20px 0 0 35px;
    padding-top: 15px;

    text-align: center;
    text-transform: uppercase;

    border-radius: 45px;
    background-color: #6652cb;
    box-sizing: border-box;

    text-decoration: none;

    color: #ffffff;
}

.button:after
{
    background: url("./images/arrow.png") no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;

    content: '';
    margin-left: 8px;
}
